<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true" syntaxCheck="true" backupGlobals="false">
    <testsuites>
        <testsuite name="ZfPersistenceBase Test Suite">
            <directory>./tests/ZfPersistenceBaseTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
